body {
	background-color: green;
	color: lightbrown;
}
p {
	color: brown;
}
id #slogan {
	font-style: italic;
}
img.resize{
	width:200px;
	height:40px;
}
img.resize{
	max-width:20%;
	max-height:20%;
}
