 body {
 	text-align: center;
 	color: #fff;
 	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background: url("http://i.imgur.com/eufPHf3.jpg");
	background-size: cover;
	font-family: "Arial Black", Gadget, Sans-serif;
}
img {
	vertical-align: text-top;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transform: rotatez(70deg);
}
img{ 
height: auto;
width: auto;
max-width: 300px;
max-height: 300px;
}
img{ 
position: fixed;
}
 h1, ul{ 
 	font-family: Verdana, Charcoal, Sans-serif;
 	font-size: 22px;
 }
slogan{
 font-style: italic; 
 font-family: 'Oswald', sans-serif;
 color: blue;
}

h1 {
	weight: bold;
}