body {
	background-color: green;
	color: lightbrown;
	text-align: center;
	background: url("http://i.imgur.com/eufPHf3.jpg?1");
}
p {
	color: brown;
}

id #slogan {
	font-style: italic;
}
img.resize{
	width:100px;
	height:20px;
}
img.resize{
	max-width:20%;
	max-height:20%;
}
