
img {
	border-image-width: 5px;
}
h1 {
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 32px;
	font-variant: small-caps;
	color: #003777;
}
img {
	float: left;
	margin: 0 0 200px 200px;
}
.clearfix {
	overflow: auto;
}